%nav.navbar.navbar-default.navbar-fixed-top.navbar-init
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:href => "#page-top"} #{image_tag 'logo_index', class: 'logo-index'}
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden.active
          %a{:href => "#page-top"}
        - @headers.each do |header|
          %li.page-scroll.menu-header
            %a{:href => "#", class:'menu menu-header-init'} #{header.title}
  / /.navbar-collapse
  / /.container-fluid
.container-fluid.container-relative
  .row
    .banner
      .grid-texture
      .button{class: 'btn btn-banner btn-watch'}
        Watch this AD
      .button{class: 'btn btn-banner btn-facebook'}
        Share on facebook
      %a{href: @current_video.url}
        = image_tag @current_video.image_preview.url, class: 'video-background'
.container-fluid.preview-section
  .row
    .col-md-10.col-md-offset-1.container-video
      - @videos.each do |video|
        .col-md-4
          = link_to home_path video do
            = image_tag video.image_preview.url, class: 'video-preview'
.container-fluid.subscribe-section
  .row
    .col-md-6.col-md-offset-3
      = form_tag(subscribers_path, method: 'post') do
        = label_tag 'Give us your email to donate every week:'
        = text_field_tag 'email', nil, class: "form-control", placeholder: "Your email address"
        = submit_tag 'Subscribe', class:'btn btn-subscribe'
- @sections.each do |section|
  .container-fluid.dynamic-section
    .row
      .col-md-12
        %h1.text-center
          = section.title
        - if section.content
          %p
            = section.content
