// Place all the styles related to the general controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$banner-height: 711px;

.video-preview {
  width: 300px;
}

.video-background {
//  width: 100%;
  height: $banner-height;
}

.container-relative {
  height: $banner-height;
//  margin-top: 100px;
}

.grid-texture{
  width: 100%;
  height: $banner-height;
  background-image: url('grid.png');
  z-index: 1;
  position: absolute;
}

.preview-section {
  background-image: url('background_blue.png');
}

.container-video {
  margin-top: 60px;
  margin-bottom: 60px;
}

.subscribe-section {
  background-image: url('background_green.jpg');
  padding: 60px;
}

.dynamic-section {
  background-image: url("background_cyan.jpg");
  padding: 60px;
  color: white;
}

.btn-subscribe {
  background-color: #333333;
  color: #fff;
  margin-top: 10px;
}

.btn-banner {
  position: absolute;
  padding: 13px 17px;
  width: 350px;
  z-index: 2;
  text-decoration: none;
  font-family: Comfortaa, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  color: #fff!important;
  transition: border-color 0.2s linear, background-color 0.2s linear;
  -moz-transition: border-color 0.2s linear, background-color 0.2s linear;
  -o-transition: border-color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: border-color 0.2s linear, background-color 0.2s linear;
}

.btn-watch {
  top: 50%;
  left: 35%;
  background-color: #00b7ad;
}

.btn-facebook {
  top: 58%;
  left: 35%;

  padding: 11px 17px;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.7);
}

.btn-facebook:hover {
  background-color: #3f62ad;
  border-color: transparent;
}

.banner {
  position: absolute;
}