!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WadchingRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = google_webfonts_init(google: ['Roboto', 'Comfortaa:300', 'Monda'])
    = csrf_meta_tags
  %body

    - if notice || alert
      %p.notice= notice
      %p.alert= alert
    = yield
